.edt-wrap {
    box-sizing:border-box;
    margin: 0 0 0 15px;
}

.edt-wrap *, .edt-wrap *:before, .edt-wrap *:after{
    box-sizing:border-box;
}

.edt-wrap td label {
    font-size: 14px !important
}

.form-back-img-wrap {
    display: inline-block;
    margin-top: 10px;
}

.form-back-img {
    display: block;
    text-align: center;
}

.sample-field, .sample-amount-field {
    display: none;
}

.custome-styles {
    width: 500px;
    height: 400px;
    direction: ltr;
}

.successfull_payment_message {
    width: 500px;
    height: 200px;
}

.amount-price-block{
    margin-bottom: 30px;
    border: 2px solid #f9f9f9;
    padding: 5px;
    margin-top: 10px;
}

.custom-amount-field{
    border: 2px solid #dedede;
    border-radius: 4px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
    width: 210px;
}